= simple_form_for @profile do |f|
  = f.input :first_name 
  = f.input :last_name 
  = f.input :photo
  = f.input :blog_title
  = f.input :about_me, :input_html => {:rows => 12, style: 'max-width:100%; height:100%;'} 
  = f.button :submit 