.homepageBg
  = render 'shared/header'
  
  

  .homepageBody
    .container{style: 'width: 90%'}
      .row
        .col-md-12

          %h3.homepageTitle
            Philippe <span class='emphasis'> AKA </span> Full stack developer
            
  
.aboutMe
  .container
    .row 
      .col-md-10.col-xs-11.col-centered
        .titleSection#about
          %h3
            About Me
        .row
          .col-md-10.col-xs-12.col-centered
            %p.aboutMeBody
              My name is Philippe <span>AKA.</span> I am a full stack developer based in Toronto, Canada. I have gained knowledge and experience writing clean semantic code, responsive web design and developed a strong interest to learn more about UX design. My interest in coding developed as a result of a passion for startups and what we can achieve with technology. 

          

.skills
  .container
    .row 
      .col-md-10.col-xs-11.col-centered
        .titleSection#skill
          %h3.test
            Skills
        .row
          .col-md-10.col-xs-12.col-centered
            .skillsItems
              %ul
                %li
                  %i.devicon-html5-plain-wordmark.mySkills.box
                %li
                  %i.devicon-css3-plain-wordmark.mySkills.box
                %li
                  %i.devicon-bootstrap-plain-wordmark.mySkills.box
                %li
                  %i.devicon-jquery-plain-wordmark.mySkills.box
                %li
                  %i.devicon-javascript-plain.mySkills.box
                %li
                  %i.devicon-sass-original.mySkills.box
                %li
                  %i.devicon-git-plain-wordmark.mySkills.box
                %li
                  %i.devicon-github-plain-wordmark.mySkills.box
                %li
                  %i.devicon-bitbucket-plain-wordmark.mySkills.box
                %li
                  %i.devicon-heroku-original-wordmark.mySkills.box

                %li
                  %i.devicon-rails-plain-wordmark.mySkills.box

                %li
                  %i.devicon-ruby-plain-wordmark.mySkills.box
                



.work
  .container
    .row 
      .col-md-10.col-xs-11.col-centered
        .titleSection#work
          %h3
            Work

        .projectWp
          .row 
            .col-md-6.col-xs-12.projectImage
              = image_tag("project-agencevs.png", class: 'resize-image')
            .col-md-6.col-xs-12.projectOverview
              %h4
                AGENCE VS
              %p.description
                AGENCE VS is a marketing and business agency. AGENCE VS help their client in Ivory Coast and Canada to improve their value proposition and increase their sales.

              %h5
                Array of skills used

              .arraySkills
                %ul
                  %li
                    <span>[</span>
                    %i.devicon-html5-plain-wordmark.box.skillUsed,
                  %li
                    %i.devicon-css3-plain-wordmark.box.skillUsed,
                  %li
                    %i.devicon-bootstrap-plain-wordmark.box.skillUsed,
                  %li
                    %i.devicon-jquery-plain-wordmark.box.skillUsed,
                  %li
                    %i.devicon-javascript-plain.box.skillUsed,
                  %li
                    %i.devicon-sass-original.box.skillUsed,
                  %li
                    %i.devicon-git-plain-wordmark.box.skillUsed,
                  %li
                    %i.devicon-github-plain-wordmark.box.skillUsed,
                  %li
                    %i.devicon-heroku-original-wordmark.box.skillUsed,

                  %li
                    %i.devicon-rails-plain-wordmark.box.skillUsed,
                  %li
                    %i.devicon-ruby-plain-wordmark.box.skillUsed
                    <span>]</span>
        .viewWebsite
          .row 
            .col-md-12.col-xs-12.col-centered
              .linkWp.text-center
                = link_to "VIEW AGENCE VS WEBSITE", "http://www.lagencevs.com/", class: 'hvr-wobble-vertical'
        .projectWp
          .row 
            .col-md-6.col-xs-12.projectImage
              = image_tag("reccrut.png", class: 'resize-image')
            .col-md-6.col-xs-12.projectOverview
              %h4
                RECCRUT
              %p.description
                Reccrut is a web application for job seekers and recruiters. 
                Recruiters can post jobs and filter best candidates through video interviews. 
                Job seekers can create a short video to pitch themselves and view inside companies through company video profiles. 


              %h5
                Array of skills used

              .arraySkills
                %ul
                  %li
                    <span>[</span>
                    %i.devicon-html5-plain-wordmark.box.skillUsed,
                  %li
                    %i.devicon-css3-plain-wordmark.box.skillUsed,
                  %li
                    %i.devicon-bootstrap-plain-wordmark.box.skillUsed,
                  %li
                    %i.devicon-jquery-plain-wordmark.box.skillUsed,
                  %li
                    %i.devicon-javascript-plain.box.skillUsed,
                  %li
                    %i.devicon-sass-original.box.skillUsed,
                  %li
                    %i.devicon-git-plain-wordmark.box.skillUsed,
                  %li
                    %i.devicon-github-plain-wordmark.box.skillUsed,
                  %li
                    %i.devicon-heroku-original-wordmark.box.skillUsed,

                  %li
                    %i.devicon-rails-plain-wordmark.box.skillUsed,
                  %li
                    %i.devicon-ruby-plain-wordmark.box.skillUsed
                    <span>]</span>
        .viewWebsite
          .row 
            .col-md-12.col-xs-12.col-centered
              .linkWp.text-center
                = link_to "VIEW RECCRUT WEBSITE", "http://www.reccrut.com/", class: 'hvr-wobble-vertical'





        .row
          .col-md-6.col-xs-12

.contact
  .container
    .row 
      .col-md-10.col-xs-11.col-centered
        .titleSection#contact
          %h3
            Contact

        .contactLink.text-center
          = link_to "https://philippeaka.typeform.com/to/AV9HXT", class: 'hvr-buzz-out' do 
            %i.fa.fa-envelope.fa-2x.leaveMessage
            %p Leave me a message ;)

        
                  


:javascript
  window.sr = ScrollReveal();

  sr.reveal('.titleSection', { origin: 'right', duration: 1000 } );
  sr.reveal('.aboutMeBody', {  origin: 'right', duration: 1700 });
  
  sr.reveal('.test', { duration: 1500 });
  sr.reveal('.box', { duration: 2000 }, 50);



%script{:src => "https://unpkg.com/scrollreveal@3.3.2/dist/scrollreveal.min.js"}


:javascript
  $(document).on('click', '.scroll-top', function(event){
    event.preventDefault();

    $('html, body').animate({
        scrollTop: $( $.attr(this, 'href') ).offset().top
    }, 1000);
  });