.col-md-9.col-xs-12.col-centered.apps-wrapper
  - @apps.each do |app|
    %ul.app-details.list-unstyled
      %li
        %h2.app-title.text-center
          = app.name

      .app-image-wrapper
        %li.text-center
          = image_tag(app.screenshot_url, class: "screenshot-app" )
      .app-description.col-md-9.col-centered.text-center
        %li.app-content
          = app.content
        %li
          = link_to 'Website', app.website
        - if app.repository.present?
          %li
            = link_to 'Github Repository', app.repository

