%h1.text-center 
  Posts published 

- if @posts.present?
  - @posts.each do |post|
    .col-md-6.col-xs-4{:id => dom_id(post)}
      %h4.post-title
        = post.title
      .post-links
        = link_to 'view post', post_path(post.title), class: 'btn btn-default full-width'
        = link_to 'edit post', edit_post_path(post.title), class: 'btn btn-default full-width'
        = link_to 'delete post', post, method: :delete,remote: true, data: {confirm: 'Are Sure about that ?'}, class: 'btn btn-default full-width'
  .col-md-6.col-xs-4
    %h3.new-post
      = link_to 'write a new post', new_post_path, class: 'btn btn-default'
  .post-pagination.col-md-12.text-center 
    = will_paginate @posts, renderer: BootstrapPagination::Rails
- else 
  = link_to 'write a new post', new_post_path,  class: 'btn btn-default'    